@import "tailwindcss";

:root {
  --foreground-rgb: rgb(200, 200, 200);
  --background-rgb: rgb(25, 25, 25);
  --accent-dark-rgb: rgb(30, 40, 80);
  --accent-light-rgb: rgb(60, 80, 120);

  --error-light-rgb: rgb(120, 60, 60);
  --error-dark-rgb: rgb(80, 20, 20);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
