.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
	background-color: var(--accent-light-rgb);
	max-height: 60vh;
}

.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
	padding: 20px;
	overflow-y: scroll;
}

.game {
	display: flex;
	align-items: center;
	gap: 25px;
	font-size: 1.12rem;
	padding: 5px;
	border: 3px solid var(--accent-dark-rgb);
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
}

.game:hover {
	background-color: var(--accent-dark-rgb);
	cursor: pointer;
}

.buttonsContainer {
	display: flex;
	gap: 10px;
	margin-bottom: 15px;
}

.button {
	padding: 10px 20px;
	border-radius: 15px;
}

.active {
	background-color: var(--accent-dark-rgb);
}

.activeMissing {
	background-color: var(--error-dark-rgb);
	border-color: var(--error-light-rgb);
}

.activeAchievements {
	background-color: var(--accent-dark-rgb);
}

.button:hover {
	cursor: pointer;
}

.button:disabled:hover {
	cursor: default;
}

.missingList {
	background-color: var(--error-light-rgb);
}

.missingEntry {
	border-color: var(--error-dark-rgb);
}

.missingEntry:hover {
	background-color: var(--error-dark-rgb);
}

.counts {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0.75rem;
}

.matchingCount {
	color: #06ac38;
	font-weight: 600;
}

.missingCount {
	color: #d38a04;
	font-weight: 600;
}

.achievementCount {
	color: #cbd5e1;
	font-weight: 600;
}

.achievementsList {
	background-color: #333842;
}

.achievementEntry.expanded {
	background-color: var(--accent-dark-rgb);
}

.achievementEntry:hover {
	background-color: var(--accent-dark-rgb);
}

@media only screen and (max-width: 1280px) {
	.list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 768px) {
	.list {
		grid-template-columns: repeat(1, 1fr);
	}
}
