.container {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;	

	padding: 10px 20px;
}

.title {
	font-size: 2.0rem;
}

@media only screen and (max-width: 768px) {
	.affinity {
		visibility: hidden;
	}	
}