.achievementComparison {
  margin: 10px 0 0 0;
  overflow-x: auto;
  max-width: 90vw;
  padding: 14px 0;
}

.achievementSummary {
  margin: 0 0 10px 35px;
  font-size: 1.1rem;
  color: var(--steam-light-blue);
}

.achievementSummary strong {
  color: #ffe25e;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .achievementComparison {
    margin-left: 0;
    padding: 4px;
  }
  .achievementSummary {
    padding: 6px 8px;
    margin: 0 0 8px 0;
  }
}
